#jumbotron_home {
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/blue-tech-circuit-board-technology-animated-background-video-graphic-design-hd-1920x1080_ewva7rwie__F0000.png');
}


#jumbotron_cad {
    background-image: url('https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixlib=rb-0.3.5&s=d6f82cfe462f2803e692c9e4f4944e0d&auto=format&fit=crop&w=1948&q=80');
}

#search_form {
    
    float: right;
    margin-right: 6em
}

#button {
    margin-top: '30px'
}

fieldset {
    padding: 40px;
    margin-bottom: 10px
}

legend {
    font-weight: bold
}

.ql-editor strong{
    font-weight:bold;
}


.btn-small {
    color: white;
    background-color: rgb(20, 83, 59);
    border: none;
    border-radius: 10px;
    display: inline-flex ;
    height: 28px;
    line-height: 28px;
    padding-left: 14px;
    padding-right: 14px;
    text-transform: uppercase;
    font-size: 12px;
    min-inline-size: 12pt;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

#buttons {
    
    margin-top: 10px;
    border-radius: 100%;
    width: 10px;
    padding: 20px;
    display: inline-block ;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    text-align: center;
    box-align: center;
    align-self: center
    
}

#icons {
    
    margin-top: 10px;
    border-radius: 100%;
    width: 10px;
    display: inline-block ;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    text-align: center;
    box-align: center;
    align-self: center
    
}
/*  */
    

/* th {
     display: block; 
} */

/* #nav_search_emp {
    width: 100%;
    font-weight: bold
} */

/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
 */
/* td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: auto
} */

/* th {
  background-color: azure;
  text-align: center
}
 */
/* tr:nth-child(even) {
    background-color: #dddddd;
} */
